<h1>Regulamento</h1>
<hr>
<p>
	A Gincana Estudantil da Solidariedade é uma ação social promovida pela Rede Vanguarda, afiliada Globo nas regiões do Vale do Paraíba, Bragantina, Serra da Mantiqueira e Litoral Norte. <%=image_tag("img_dest.jpg", :align => "left", :style => "margin:5px;")%> O objetivo da gincana é mobilizar diretores, professores, televisão e comunidade para que, juntos, todos arrecadem alimentos que, ao fim da campanha, são doados a entidades assistenciais de cada região participante. <br>
	Na primeira fase da campanha, arrecada-se arroz e os municípios que atingem a meta avançam para a segunda fase, para, então, arrecadarem feijão. 
	Este ano a escola representante de Atibaia é o Colégio FAAT. Durante o evento, diversas atividades recreativas são realizadas pelas escolas concorrentes.  Todo alimento arrecadado pelo Colégio será encaminhado ao Fundo Social de Solidariedade para que seja distribuído entre as entidades da Cidade.
	O evento da segunda etapa, para arrecadação de feijão, será no dia 2 de setembro, no no Ginásio do Elefantão, às 14h.
	
</p>