<h1>O que já arrecadamos?</h1>
<hr>
<p>
Graças à solidariedade de todos os moradores de Atibaia, arrecadamos na primeira fase mais de nove toneladas de arroz (9.908kg), classificando Atibaia em segundo lugar na chave em que participa.
</p>