<h1>Saiba quais são os pontos de arrecadação.</h1>
<hr>
<p>
	Para doar você pode procurar o Colégio FAAT Jr, à Avenida 9 de Julho, 288, Centro – Atibaia ou na Casa da Solidariedade, à Rua Bartolomeu Peranovich, ao lado do antigo Fórum.<br/>
	<br/>
	Para mais informações: (11) 4414-4140 – falar com Felipe Carvalho.	
</p>