<h1>Conheça a Gincana!</h1>
<hr>
<p>
	A Gincana Estudantil da Solidariedade é uma ação social promovida pela Rede Vanguarda, afiliada Globo nas regiões do Vale do Paraíba, Bragantina, Serra da Mantiqueira e Litoral Norte. O objetivo da gincana é mobilizar diretores, professores, televisão e comunidade para que, juntos, todos arrecadem alimentos que, ao fim da campanha, são doados a entidades assistenciais de cada região participante.<br>
	<br>
	Todos os anos, estudantes de todos os municípios participantes se organizam em prol dessa ação que une entretenimento à solidariedade.
	<br>
	Este ano os Jovens Solidários ajudarão Atibaia a arrecadar uma grande quantidade de alimentos para nossas entidades. Todos nós somos responsáveis pelo futuro de nossa comunidade e país. Nossos jovens têm esse poder e, juntos, somos capazes de realizar muito mais. Nossa campanha é mais forte com a participação de todos.<br>
	<br>
	Na primeira fase da campanha, arrecada-se arroz e os municípios que atingem a meta avançam para a segunda fase, para, então, arrecadarem feijão. <br>
	<br>
	Este ano a escola representante de Atibaia é o Colégio FAAT. Durante o evento, diversas atividades recreativas são realizadas pelas escolas concorrentes.  Todo alimento arrecadado pelo Colégio será encaminhado ao Fundo Social de Solidariedade para que seja distribuído entre as entidades da Cidade.<br>
	<br>
	O evento da segunda etapa, para arrecadação de feijão, será no dia 2 de setembro, no Ginásio do Elefantão, às 14h. A última etapa da Gincana será em São José dos Campos e a arrecadação será de açúcar.<br>
	<br>
	Espalhe essa ideia entre seus amigos e parentes. Compartilhe a fan page e o site. Colabore com a campanha. Vamos mostrar a todos que os Jovens de Atibaia são muito, mas muito Solidários!!
	
</p>