<!DOCTYPE html>
<html>
<head>
  <title>Campanha Jovens Solidários - Eu Curto Solidariedade!!</title>
  <%= stylesheet_link_tag "template" %>
  <%= csrf_meta_tag %>

	<meta name="title" content="Campanha Jovens Solidários - Eu Curto Solidariedade!!" />
	<meta name="url" content="http://www.jovenssolidarios.com.br" />
	<meta name="description" content="A Gincana Estudantil da Solidariedade é uma ação social promovida pela Rede Vanguarda, afiliada Globo nas regiões do Vale do Paraíba, Bragantina, Serra da Mantiqueira e Litoral Norte. O objetivo da gincana é mobilizar diretores, professores, televisão e comunidade para que, juntos, todos arrecadem alimentos que, ao fim da campanha, são doados a entidades assistenciais de cada região participante."/>
	<meta name="keywords" content="jovens, jovem, gincana, vanguarda, atibaia, doação, ajuda, solidariedade" />
	<meta name="autor" content="Rafael Matuoka Chiocchetti" />
	<meta name="company" content="Kore.wa Web" />
	<meta name="revisit-after" content="5" />
	<link rev="made" href="mailto:rmatuoka@korewa.com.br" />


</head>
<body>
<div class="lines"></div>
<div id="Interna">
	<%= yield %>
</div>
<div class="clear"></div>
<div class="lines"></div>
<div id="Footer">
	
</div>
</body>
</html>
